# Hypothesis

- People are more likely to shop online after working hours.
- People are more likely to shop during weekends.
- People are more likely to shop in certain months of the year (i.e. Christmas season), each individual countries’ end of year sales, etc.
- Low unit value items are more likely to be a top 5 sales item in each country.

In [14]:
# Dependencies
import pandas as pd
import numpy as np

In [15]:
# Filepath of the CSV files
csv_path_1 ='Resources/Year 2009-2010.csv'
csv_path_2 ='Resources/Year 2009-2010.csv'

# Read through CSV files via Pandas
df1=pd.read_csv(csv_path_1, encoding="ISO-8859-1")
df2=pd.read_csv(csv_path_2, encoding="ISO-8859-1")

# Merge the files
dataset = df1.append([df2])

# Display dataframe
dataset.head()

,ï»¿Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1/12/09 07:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1/12/09 07:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1/12/09 07:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1/12/09 07:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1/12/09 07:45,1.25,13085.0,United Kingdom

In [16]:
# Check out the dataframe using describe and info
dataset.describe()

           Quantity         Price    Customer ID
count  1.050922e+06  1.050922e+06  835068.000000
mean   1.033767e+01  4.688834e+00   15360.645478
std    1.074241e+02  1.461268e+02    1680.810309
min   -9.600000e+03 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13983.000000
50%    3.000000e+00  2.100000e+00   15311.000000
75%    1.000000e+01  4.210000e+00   16799.000000
max    1.915200e+04  2.511109e+04   18287.000000

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050922 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ï»¿Invoice   1050922 non-null  object
 1   StockCode    1050922 non-null  object
 2   Description  1045066 non-null  object
 3   Quantity     1050922 non-null  int64
 4   InvoiceDate  1050922 non-null  object
 5   Price        1050922 non-null  float64
 6   Customer ID  835068 non-null   float64
 7   Country      1050922 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 72.2+ MB

In [18]:
dataset.keys()

Index(['ï»¿Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [19]:
dataset.count()

ï»¿Invoice     1050922
StockCode      1050922
Description    1045066
Quantity       1050922
InvoiceDate    1050922
Price          1050922
Customer ID     835068
Country        1050922
dtype: int64

Number of customer IDs being less than invoices means that some people did not register and checked out as a guest.

In [20]:
dataset.keys()

Index(['ï»¿Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [21]:
dataset['ï»¿Invoice'] = dataset['ï»¿Invoice'].astype(str)
dataset['StockCode'] = dataset['StockCode'].astype(str)
dataset['Description'] = dataset['Description'].astype(str)
dataset['InvoiceDate'] = dataset['InvoiceDate'].astype(str)
dataset['Country'] = dataset['Country'].astype(str)

In [24]:
dataset=dataset.rename(columns= {"ï»¿Invoice":"Invoice Number",
                         "StockCode": "Stock Code",
                         "InvoiceDate": "Invoice Date",
                         })

In [25]:
grouped_data= dataset.groupby("Country")
grouped_data.count()

,Invoice Number,Stock Code,Description,Quantity,Invoice Date,Price,Customer ID
Country,,,,,,,
Australia,1308,1308,1308,1308,1308,1308,1308
Austria,1074,1074,1074,1074,1074,1074,1074
Bahrain,214,214,214,214,214,214,84
Belgium,2108,2108,2108,2108,2108,2108,2108
Bermuda,68,68,68,68,68,68,0
Brazil,124,124,124,124,124,124,124
Canada,154,154,154,154,154,154,154
Channel Islands,1812,1812,1812,1812,1812,1812,1812
Cyprus,1108,1108,1108,1108,1108,1108,1108
Denmark,856,856,856,856,856,856,856
EIRE,19340,19340,19340,19340,19340,19340,17420
Finland,708,708,708,708,708,708,708
France,11544,11544,11544,11544,11544,11544,11420
Germany,16258,16258,16258,16258,16258,16258,16258
Greece,1034,1034,1034,1034,1034,1034,1034
Hong Kong,152,152,152,152,152,152,0
Iceland,142,142,142,142,142,142,142
Israel,148,148,148,148,148,148,148
Italy,1462,1462,1462,1462,1462,1462,1462
Japan,448,448,448,448,448,448,448
Korea,126,126,126,126,126,126,126
Lebanon,26,26,26,26,26,26,0
Lithuania,308,308,308,308,308,308,308
Malta,344,344,344,344,344,344,344
Netherlands,5538,5538,5538,5538,5538,5538,5538
Nigeria,64,64,64,64,64,64,60
Norway,738,738,738,738,738,738,738
Poland,388,388,388,388,388,388,388
Portugal,2202,2202,2202,2202,2202,2202,2048
RSA,222,222,222,222,222,222,130
Singapore,234,234,234,234,234,234,234
Spain,2556,2556,2556,2556,2556,2556,2556
Sweden,1804,1804,1804,1804,1804,1804,1766
Switzerland,2374,2374,2374,2374,2374,2374,2374
Thailand,152,152,152,152,152,152,152
USA,488,488,488,488,488,488,488
United Arab Emirates,864,864,864,864,864,864,636
United Kingdom,971704,971704,971704,971704,971704,971704,758846
Unspecified,620,620,620,620,620,620,560
West Indies,108,108,108,108,108,108,108

In [36]:
#This is to split the date and time out as separate date and time
dataset['Dates'] = pd.to_datetime(dataset['InvoiceDate']).dt.date
dataset['Time'] = pd.to_datetime(dataset['InvoiceDate']).dt.time
dataset.head()

,ï»¿Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Dates,Time
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1/12/09 07:45,6.95,13085.0,b'United Kingdom',2009-01-12,07:45:00
1,489434,79323P,PINK CHERRY LIGHTS,12,1/12/09 07:45,6.75,13085.0,b'United Kingdom',2009-01-12,07:45:00
2,489434,79323W,WHITE CHERRY LIGHTS,12,1/12/09 07:45,6.75,13085.0,b'United Kingdom',2009-01-12,07:45:00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1/12/09 07:45,2.10,13085.0,b'United Kingdom',2009-01-12,07:45:00
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1/12/09 07:45,1.25,13085.0,b'United Kingdom',2009-01-12,07:45:00

In [26]:
#This is to convert the dates to datetime format and then converting the date to day of the week
dataset['Dates'] = pd.to_datetime(dataset['Dates'])
dataset['day_of_week'] = dataset['Dates'].dt.day_name()
dataset

KeyError: 'Dates'

Weekend vs. weekdays - Nich

# Shopping trends by month and year for each country - Samra

In [ ]:
annual increase/decrease - Zach

# Customer with highest purchase quantity and $ amount - Zach

# Most popular item by country and overall - Miley

Heatmap of sales vs. country - Miley

Time of the day with highest sale volume - Samra

Whether people are more likely to shop online during a certain time of the day or weekdays/weekends.

Whether people are more likely to shop in certain months of the year (i.e. Christmas season), each individual countries’ end of year sales, etc.

Whether low unit value items are more likely to be a top 5 sales item in each country.